.header{
	background-color: #24262b;
    padding: 20px 0;
    justify-content: center;
    display: flex;
}

.header-container{
    justify-content: center;
    display: flex;
    padding: 10px;
	max-width: 50px;
	margin: auto;
    width: 100%;
}

.header-element-a {
    margin-top: 3px;
    margin-left: 15px;
    font-family: 'Noto Sans Medium';
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

.header-element-m {
    margin-top: 3px;
    margin-left: 15px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0);
}