body {
    background-color: #ffffff;
    line-height: 1.75em;
}



a {
    font-family: 'Noto Sans';
    color: #000;
    text-decoration: none;
}
p {
    font-family: 'Noto Sans';
    color: #000;
}

h1 {
    font-family: 'Montserrat Black';
    color: #000;
}
h2 {
    font-family: 'Montserrat ExtraBold';
    color: #000;
}
h3 {
    font-family: 'Montserrat SemiBold';
    color: #000;
}
h4 {
    font-family: 'Montserrat Medium';
    color: #000;
}
h5 {
    font-family: 'Montserrat Light';
    color: #000;
}
h6 {
    font-family: 'Montserrat ExtraLight';
    color: #000;
}

.medium-header {
    font-weight: 400;
}

.beta-header {
    font-weight: 900;
}

.beta-svg {
    color: #fff;
    vertical-align: middle;
    width: 58;
    height: 37;
}

.body {
    width: 98%;
    margin-left: 1%;
    margin-top: 10px;
    margin-bottom: 10px;
}