@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosans/v30/o-0NIpQlx3QUlC5A4PNjFhdVadyB1Wk.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

p1 {
    font-family: 'Noto Sans';
}

h1 {
    font-family: 'Noto Sans';
}

.medium-header {
    font-weight: 400;
}

.beta-header {
    font-weight: 900;
}

.beta-svg {
    vertical-align: middle;
    width: 58;
    height: 37;
}